* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	max-width: 1400px;
	min-width: 890px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: auto;
}
.content {
	min-height: calc(100vh - 250px);
}
header {
	display: flex;
	justify-content: space-around;
	height: 230px;	
	background-color: #dcdcdc;
}
.logo {
	background-image: url(img/logo.png);
	margin: 64px 0 0 30px;
	width: 273px;
	height: 100px;
}
.phone-number {
	margin: 65px 0 0 65px;
}
.phone-number a {
	color: #767676;
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	font-stretch: condensed;
	line-height: 46px;
	text-decoration: none;
}
.phone-number a:hover {
	color: darkgray;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	width: 1400px;
	height: 80px;
	background-color: #767676;
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li {
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 300;
	margin: 0 10px;
	padding-right: 24px;
	list-style-type: none;
}
nav ul li:not(:last-child) {
	border-right: 2.5px solid white;
}
nav ul li a {
	text-decoration: none;
	color:  #ffffff;
	text-align: center;
}
nav ul li a:hover {
	text-decoration: underline;
}
.slider {
	height: 400px;
	background-color: #f8f8f8;
	position: relative; 
	overflow: hidden;
}
.slider img {
	display: block;
	position: absolute;
	bottom: 0;
	left: 70px;
	margin: 0 auto;
}
.main {
	display: flex;
	justify-content: center;
	height: auto;
}
aside {
	width: 350px;
	height: 550px;
	margin-top: 30px;
	margin-right: 40px;
	background-color: #767676;
	font-family: 'PT Sans', sans-serif;
	color:  #e4e4e4;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 22px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
aside ul {
	margin: 20px 34px;
}
aside li {
	list-style-type: none;
	margin: 30px 0;
}
aside li time {
	font-style: italic;
}
aside a {
	text-decoration: none;
	color:  #e4e4e4;
}
aside a:hover {
	color: white;
}
.archive {
	float: right;
	margin-bottom: 30px;
}
aside h2 {
	margin: 15px 34px 34px 0;
	font-family: 'PT Sans', sans-serif;
	color:  #ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 46px;
	text-align: left;
}
article {
	width: 569px;
	margin-top: 60px;
	font-family: 'PT Sans', sans-serif;
	color: #767676;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	text-align: justify;
}
article h2 {
	font-size: 40px;
	font-weight: normal;
}
p {
	margin: 15px 0;
}
.bufer {
	height: 200px;
}
footer {
	height: 220px;
	padding-top: 40px;
	display: flex;
	align-content: center;
	align-items: stretch;
	justify-content: center;
	background-color: #767676;
	font-family: 'PT Sans', sans-serif;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}
footer ul li {
	list-style-type: none;
}
footer a {
	text-decoration: underline;
	color:  #ffffff;
}
footer address {
	font-style: normal;
}
.footer-menu {
	margin-left: 200px;
}
.footer-logo {
	margin: 10px 5px 0 240px;
}
