html, body {
	height: 100%;
	margin: 0;
	padding: 0;	
}
body {
	max-width: 1400px;
	min-width: 890px;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	margin: auto;
}
.page-wrapper {
    min-height: 100%;
    margin-bottom: -230px;
}
* html .page-wrapper {
    height: 100%;
}
header {
	height: 310px;
	background-color: #dcdcdc;
}
.logo {
	float: left;
	margin-top: 65px;
	margin-left: 210px;
	margin-bottom: 65px;
	background-image: url(img/logo.png);
	width: 273px;
	height: 100px;
}
.phone-number {
	float: right;
	margin-top: 77px;
	margin-right: 211px;
}
.phone-number a {
	color: #767676;
	font-family: PTSans;
	font-size: 40px;
	font-weight: 300;
	line-height: 46px;
	text-align: right;
	text-decoration: none;
}
.phone-number a:hover {
	color: darkgray;
}
nav {
	display: inline-block;
	width: 1400px;
	height: 80px;
	background-color: #767676;
	text-align: center;
}
header nav ul li {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 300;
	margin: 29px 10px;
	padding-right: 24px;
}
header nav ul li:not(:last-child) {
	border-right: 2.5px solid white;
}
header nav ul li a {
	text-decoration: none;
	color:  #ffffff;
	text-align: center;
}
header nav ul li a:hover {
	text-decoration: underline;
}
.slider {
	height: 400px;
	background-color: #f8f8f8; 
	overflow: hidden;
}
.slider img {
	bottom: 30;
	display: block;
	margin: 0 auto;
}
aside {
	width: 350px;
	margin-left: 210px;
	margin-top: 30px;
	background-color: #767676;
	float: left;
	font-family: 'PT Sans', sans-serif;
	color:  #e4e4e4;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 22px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
aside ul {
	margin: 30px 34px;
}
aside li {
	list-style-type: none;
	margin: 30px 0;
}
aside li time {
	font-style: italic;
}
aside a {
	text-decoration: none;
	color:  #e4e4e4;
}
aside a:hover {
	color: white;
}
.archive {
	float: right;
	margin-bottom: 30px;
}
aside h2 {
	margin: 30px 34px 34px 0;
	font-family: 'PT Sans', sans-serif;
	color:  #ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 46px;
	text-align: left;
}
.content {
	display: inline-block;
	float: left;
	width: 569px;
	margin: 50px 59px;
	font-family: 'PT Sans', sans-serif;
	color: #767676;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
}
p {
	margin: 15px 0;
}
.page-buffer {
	height: 230px;
}
footer {
	position: absolute;
	background-color: #767676;
}